
Skip to content
This repository  
Search
Pull requests
Issues
Gist
 @imwiththou
 Unwatch 1
  Star 1
  Fork 0 imwiththou/imwiththou.github.com
Branch: master  imwiththou.github.com/css/style.css
@imwiththouimwiththou on May 3, 2014 Update style.css
1 contributor
RawBlameHistory     571 lines (468 sloc)  9.39 KB
/***************** PSEUDO & GENERAl CLASSES ***************/

#main-container{ overflow: hidden; }
body{  -webkit-font-smoothing: antialiased; }
.no-last{ float: left !important; }
input{ -webkit-appearance: none; }
.page-header{ text-align: center; margin-bottom: 44px;}
.page-header .icon{ font-size: 24px; }
.page-header h4{ margin-top: 11px; }
.page-header .hr{ background-color: #212121; margin-top: 44px; margin-bottom: 44px; }
.callout-wrapper{ background-color: #222; padding: 15px; }
.callout{ background-color: #222; padding: 25px; border: 2px solid #fff; overflow: hidden; }
.callout h5{ margin-bottom: 11px; overflow: hidden; }
.callout p{ margin-bottom: 0px; }
.callout .icon{ font-size: 72px; }
#client-divider{
	background: url('../img/previous/t1.jpg');
	background-size: cover;
	background-attachment: fixed;
	position: relative;
}

#client-divider:before{ position: absolute; width: 100%; height: 100%; background-color: rgba(0,0,0,0.6); content:''; }
#client-divider .page-header{ margin-top: 88px; }
#client-divider .page-header .hr{ background-color: #fff; }
#client-divider img{ max-width: 80%; margin-bottom: 88px; }



/** SPACING **/

.pad-large{
	padding-top: 88px;
	padding-bottom: 88px;
}

.pad-small{
	padding-top: 44px;
	padding-bottom: 44px;
}

.pad-bottom{
	margin-bottom: 88px;
}

/** TYPO **/

.text-white{
	color: #fff;
	font-family: 'PT Sans', sans-serif;
}

.hr{
	margin: 0px auto;
	margin-top: 22px;
	margin-bottom: 22px;
	height: 2px;
	background-color: #fff;
}

/** BUTTONS **/

.btn{
	padding: 15px 25px 15px 25px;
	border: 7px double #222;
	background-color: #222;
	cursor: pointer;
	font-family: 'PT Sans', sans-serif;	
	font-size: 12px;
	text-align: center;
	display: inline-block;
	overflow: hidden;
}

.twitter-bg{
	background-color: #009ad6;
	border-color: #009ad6;
}

.twitter-bg:hover h6{
	color: #009ad6 !important;
}

.twitter-bg:hover .icon{
	color: #009ad6 !important;
}

.btn h6{
	letter-spacing: 2px;
	margin-right: -2px;
	float: right;
	color:#fff;
}

.btn .icon{
	display: inline;
	float: left;
	margin-right: 11px;
	font-size: 12px;
	color: #fff;
}

.btn:hover{
	background-color: #fff;
}

.btn:hover h6{ color: #222; }
.btn:hover .icon{ color: #222; }

/********************* NAVIGATION ********************/

#navigation{
	position: fixed;
	top: -80px;
	width: 100%;
	/*-webkit-filter: blur(5px);
	filter: blur(5px);*/
	background-color: rgba(255,255,255,0.9);
	max-height: 80px;
	min-height: 80px;
	z-index: 200;
	transition: all .2s ease;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	overflow: hidden;
}

#mobile-toggle{
	position: absolute;
	z-index: 200;
	right: 44px;
	top: 30px;
	font-size: 25px;
	cursor: pointer;
	display: none;
}

.mobile-nav-open{
	max-height: 500px !important;
}

.show-nav{
	top: 0px !important;
}

#logo{
	padding-top: 21px;
	overflow: hidden;
}

#logo .icon{
	color: #222;
	font-size: 40px;
	float: left;
}

#logo h5{
	float: left;
	padding-top: 8px;
	margin-left: 11px;
}

#menu{
	overflow: hidden;
	margin-bottom: 0px;
	list-style: none;
	float: right;
	padding-top: 33px;
}

#menu h6{
	font-size: 12px;
	letter-spacing: 3px;
	margin-right: -3px;
}

#menu li{
	margin-right: 22px;
	float: left;
}

#menu li:last-child{
	margin-right: 0px !important;
}

/********************* HOME ********************/

#home{
	overflow: hidden;
}

#home-slider{
	position: relative;
}

#home-slider .display-h{
	font-size: 65px;
}

#home-slider .slides li{
	background-size: cover !important;
	background-position: center;
	background-position-y: -20px;
	background-attachment: fixed !important;
	
}

.home-shrink .hr{
	margin-bottom: 44px;
}

.home-shrink .icon{
	color: #fff;
	font-size: 60px;
}

.home-shrink .display-h{
	-webkit-transition: all .1s ease;
	letter-spacing: 20px;
	margin-right: -20px;
}

/********************* ABOUT ********************/

#about-text{
	text-align: left;
	margin-bottom: 44px;
	font-family: 'PT Sans', sans-serif;
	font-size: 1.5em;
}

#about .btn{
	margin-right: 11px;
}


/********************* INTERESTS ********************/

#services{
	background-color: #F7E7CE;
}

#services .callout-wrapper{ margin-top: 44px; }

.service{
	text-align: center;
	font-family: 'PT Sans', sans-serif;
	padding-top: 22px;
	padding-bottom: 22px;
	transition: all .2s ease;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
}

.service-diamond-holder:hover .icon{
	top: 35px;
}

.service-hr{
	margin: 0px auto;
	background-color: #222;
	position: relative;
	top: 108px;
}

.service p{
	margin-bottom: 0px;
	margin-top: 22px;
}

.service-diamond-holder{
	width: 170px;
	height: 170px;
	margin: 0px auto;
	margin-bottom: 22px;
}

.diamond-border{  
	width: 90%;
	height: 90%;
	border: 2px solid #222;
	top: 6px;
	left: 6px;
	position: relative;
	border-radius:10px;

}

.service-diamond{
	width: 120px;
	height: 120px;
	text-align: center;
	margin: 0px auto;
	transform: rotate(45deg);
	-ms-transform: rotate(45deg); /* IE 9 */
	-webkit-transform: rotate(45deg); /* Safari and Chrome */
	position: relative;
	top: 25px;
	border-radius:10px;
}

.service-diamond .icon{
	display: inline-block;
	font-size: 25px;
	position: relative;
	top: 41px;
	color: #222;
	transition: all .2s ease;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	transform: rotate(-45deg);
	-ms-transform: rotate(-45deg); /* IE 9 */
	-webkit-transform: rotate(-45deg); /* Safari and Chrome */
}

/********************* TESTIMONIALS ********************/

#testimonials{
	padding-top: 88px;
	padding-bottom: 88px;
	background: url('../img/Blur/alt4.jpg');
	color: #fff;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'PT Sans', sans-serif;
	}

#testimonials-slider{
	position: relative;
	font-size: 1.4em;
}

#testimonials-slider .flex-direction-nav a{
	color: #fff;
	top: 14%;
}

#testimonials-slider .flex-direction-nav .flex-prev { left: -99px; }
#testimonials-slider .flex-direction-nav .flex-next { right: -99px; text-align: right; }

#testimonials-slider h6{
	color: #fff;
	font-size: 0.6em;
}

#testimonials-slider p{
	margin-bottom: 44px;
}

#testimonials .hr{
	background-color: #fff;
}

/********************* WORKS ********************/

#work{
	padding-top: 88px;
}

.last-row{
	padding-bottom: 146px;
	margin-bottom: 88px;
}

.mid-row{
	position: relative;
}

.mid-row .work-item-wrapper{
	left: 166px;
}

.work-item-wrapper{
	width: 310px;
	height: 310px;
	position: relative;
	margin-bottom: -147px;
}

.work-item{
	width: 220px;
	height: 220px;
	border-radius:10px;
	overflow: hidden;
	position: relative;
	background-color: #222;
	transform: rotate(45deg);
	-ms-transform: rotate(45deg); /* for IE 9, damn out of historical IE. */
	-webkit-transform: rotate(45deg); /* Safari and Chrome */
	margin: 0px auto;
	cursor: pointer;
	top: 45px;
	padding: 0px;
	transition: all .2s ease;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
}

.work-img-holder{
	position: absolute;
	top:-70px;
	left: -44px;
	height: 350px;
	width: 350px;
	transform: rotate(-45deg);
	-ms-transform: rotate(-45deg); /* IE 9 */
	-webkit-transform: rotate(-45deg); /* Safari and Chrome */
}

.work-img-holder img{
	height: 100%;
	max-width: 150%;
}

.work-overlay{
	width:100%;
	height: 100%;
	background-color: rgba(34,34,34,0.9);
	position: relative;
	padding-top: 60px;
	transition: all .2s ease;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	opacity: 0;
	border-radius:10px;
	color: #fff;
}

.overlay-content{
	transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.show{
	opacity: 1 !important;
}

.work-item:hover .work-overlay{
	opacity: 1;
}

.work-item:hover{
	padding: 10px;
}

.project-wrapper{
	opacity: 0;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
}

.fade-project{
	opacity: 1;
}

.project{
	background-color: #eed;
	margin-top: 0px;
	max-height: 0px;
	overflow: hidden;
	transition: all .7s ease;
	-webkit-transition: all .7s ease;
	-moz-transition: all .7s ease;
}

.open-project{
	max-height: 1300px;
	margin-top: 88px;
	padding-top: 88px;
	padding-bottom: 88px;
}

.project-details .close-project{
	font-size: 28px;
	cursor: pointer;
	margin-right: 22px;
}

.project-details .hr{
	background-color: #222;
	margin:0px;
	margin-bottom: 22px;
	margin-top: 22px;
}

.project-details p{
	columns:100px 2;
	-webkit-columns:100px 2; /* Safari and Chrome */
	-moz-columns:100px 2; /* Firefox */
	margin-bottom: 44px;
	text-align: left;
}

.project-slideshow{
	margin-top: 44px;
}


.project-slideshow .slides li{
	height: 600px;
	width: 100%;
	overflow: hidden;
	background-size: cover !important;
	background-position: center !important;
}

/********************* CONTACT ********************/

#contact{
	position: relative;
}

#contact-content{
	background-color: rgba(247, 231, 206 ,0.9);
	position: relative;
	z-index: 1;
	padding-top: 88px;
	padding-bottom: 88px;
	transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	opacity: 1;
}

.fade-out{
	opacity: 0.2 !important;
}


#contact h6{
	letter-spacing: 3px;
	margin-right: -3px;

}

#contact iframe{
	position: absolute;
	width: 100%;
	height: 100%;
	border: none;
	z-index: 0;
}

#contact .service-diamond{
	background-color: rgba(0,0,0,0);
}

#contact .service-row{
	margin-bottom: 22px;
}

.social-row{
	margin-top: 44px;
	margin-bottom: 88px;
}

#map-diamond{
	cursor: pointer;
}

#copy-text{
	font-family: 'PT Sans', sans-serif;
	letter-spacing: 3px;
	margin-right: 3px;
	text-transform: uppercase;
	font-size: 12px;
	opacity: 0.7;
}
Status API Training Shop Blog About Pricing
© 2015 GitHub, Inc. Terms Privacy Security Contact Help